* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  width: 450px;
}
.wrapper {
  /* border-radius: 5px; */
  margin: auto;
  background-color: #ffedb8;
  box-shadow: 5px 5px 10px gray;
  padding: 10px;
}

/* HEADER SECTION */
header {
  background-color: #502d17;
  padding: 5px;
  display: flex;
}
.logo-contnr {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}
.cc-logo {
  width: 40px;
  height: auto;
}
#cc-title {
  font-family: "Inter", sans-serif;
}
#archive-title {
  font-family: "Anonymous Pro", monospace;
}
.links-contnr {
  max-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
}
.github-icon {
  width: 30px;
  height: auto;
}
.links-contnr a {
  font-size: 0.7em;
  text-align: right;
  color: white;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
}

/* HERO SECTION */
.hero {
  margin: 20px 0px 10px 0px;
}
.input-contnr {
  width: 100%;
}
#prblm-title-input {
  padding: 12px 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
}
input:focus {
  outline: none;
}
.btn-contnr {
  display: flex;
}
.btn {
  margin: 10px 10px 0px 0px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.save-btn {
  background-color: #1893f8;
}
.reset-btn {
  background-color: #ff0000;
}

/* PROBLEM LIST */
.prblm-list {
  max-height: 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  padding: 5px 0px;
}
.prblm-card {
  min-width: 30%;
  margin: 5px;
  border: 1.5px solid #296db8;
  border-radius: 5px;
  background-color: #f5fafe;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.prblm-card a {
  text-decoration: none;
}
.prblm-title {
  color: #296db8;
  font-family: "Anonymous Pro", monospace;
  font-size: 0.9rem;
}
.ctrl-section {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  align-items: center;
}
.edit-contnr {
  width: 30px;
  padding: 0px 5px;
  text-align: center;
}

.dlt-contnr {
  width: 14px;
  height: auto;
  display: flex;
  align-items: center;
}
.dlt-btn {
  align-self: center;
}
.ctrl-icon {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ecf6ff;
}
::-webkit-scrollbar-thumb {
  background: #296db8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1b5ca1;
}

/* FOOTER SECTION */
footer {
  outline: 2px solid black;
  margin-top: 10px;
  padding: 3px;
  font-size: 11px;
  background-color: black;
  color: white;
  text-align: center;
}
footer p {
  font-family: "Anonymous Pro", monospace;
}
footer a {
  color: yellow;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
}
